/* Global Styles */

html, body {
    height: 100%;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.center {
    text-align: center;
}
.as-table {
    display: table !important;
}
.as-table > div {
    display: table-cell !important;
    vertical-align: middle;
    white-space: nowrap;
}
.as-table select {
    width: auto;
}
.carousel {
    cursor: pointer;
}
.slogan {
    margin-bottom: 2%;
}
.slogan-background {
    padding-top: 5%;
    background-image: url('/img/home.jpg');
    background-position: 50% 43%;
}
.home-price {
    background-color: rgba(147, 145, 145, 0.79);
    font-weight: 900;
    color: rgb(253, 251, 251);
    margin: 0;
    position: absolute;
    bottom: 15%;
    left: 6%;
    font-size: 30px;
}
.results-per-page {
    padding: 5px 5px 5px 15px;
}
.results-per-page select {
    margin-left: 10px;
}
.results-show-item {
    margin-bottom: 15px;
}
.results-show-price {}
#loginbox {
    margin-top: 30px;
}
#form > div {
    margin-bottom: 25px;
}
.dropdown {
    cursor: pointer;
}
.img-home-item {
    margin-bottom: 30px;
}
.tab-pane {
    margin-top: 15px;
}
.page-header {
    margin: 0px 0px 20px;
    font-size: 30px;
}

/* Messages */

.bs-callout {
    padding: 20px;
    margin: 20px 0px;
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #EEE;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px;
}
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}
.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

/* Page Sections */

.section, .section-colored {
    padding: 30px 0;
}
.section-colored {
    background-color: #e1e1e1;
    /* change this to change the background color of a colored section */
}

/* 404 Page Styles */

.error-404 {
    font-size: 8em;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media (max-width: 767px) {
    .slogan h2 {
        font-size: 25px;
    }
    .slogan {
        margin-bottom: 5%;
    }
}
