/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.dropdown {
    cursor: pointer;
}

.img-home-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}
/* Page Sections */

.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #e1e1e1;
    /* change this to change the background color of a colored section */
}
/* 404 Page Styles */

.error-404 {
    font-size: 8em;
}
/* Footer Styles */

footer {
    margin: 50px 0;
}
/* Responsive Styles */

@media (max-width: 767px) {}
