<div class="section-colored text-center slogan-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 animated fadeInUp">
                <div class="slogan">
                    <h2>Encontrar bens penhorados ficou mais fácil!</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Últimas Inserções</h2>
                <hr>
            </div>
            <div class="list-group col-lg-3" data-ng-repeat="newItem in latest">
                <a class="list-group-item" data-ng-href="../{{ newItem.categorySlug }}/{{ newItem.itemSlug }}">
                    <img class="img-responsive" alt="{{ newItem.title }}" data-ng-src="../images/{{ newItem.image != null ? newItem.image : 'empty.jpg'}}">
                    <div class="caption text-center">
                        <h3 data-ng-bind="newItem.title"></h3>
                        <p>
                            <strong data-ng-bind="newItem.price ? (newItem.price | currency:'€':0) : 'À melhor oferta'"></strong>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="section-colored">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>A terminar o limite para propostas</h2>
                <hr>
            </div>
            <div class="list-group col-lg-3" data-ng-repeat="endingItem in endingSoon">
                <a class="list-group-item" data-ng-href="../{{ endingItem.categorySlug }}/{{ endingItem.itemSlug }}">
                    <img class="img-responsive" alt="{{ endingItem.title }}" data-ng-src="../images/{{ endingItem.image != null ? endingItem.image : 'empty.jpg'}}">
                    <div class="caption text-center">
                        <h3 data-ng-bind="endingItem.title"></h3>
                        <p>
                            <strong data-ng-bind="endingItem.price ? (endingItem.price | currency:'€':0) : 'À melhor oferta'"></strong>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
