<div class="section-colored text-center slogan-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 animated fadeInUp">
                <div class="slogan">
                    <h2>Encontrar bens penhorados ficou mais fácil!</h2>
                </div>
                <div style="margin: 0 auto;" class="input-group col-lg-4 col-lg-offset-4">
                    <input type="text" class="form-control" placeholder="ex: Apartamento T3 em Leiria" name="search-term" ng-model="searchTerm" ng-model-options="{ debounce: 1000 }">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Últimas Inserções</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6" ng-repeat="newItem in newItems">
            <div class="home-price"><span ng-bind="newItem.price"></span> € <p>Anúncio XPTO</p></div>
                <a href="#">
                    <img class="img-responsive img-home-item" ng-src="../images/{{ newItem.image != null ? newItem.image : 'empty.jpg'}}">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="section-colored">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>A terminar o limite para propostas</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6" ng-repeat="endingItem in endingSoon">
                <a href="#">
                    <img class="img-responsive img-home-item" src="../images/{{ endingItem.image != null ? newItem.image : 'empty.jpg'}}">
                </a>
            </div>
        </div>
    </div>
</div>
