<div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title text-center">Criar conta de utilizador</div>
        </div>

        <div class="panel-body">
            <form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input id="name" class="form-control" name="name" value="" placeholder="Nome" type="text">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                    <input id="email" class="form-control" name="email" value="" placeholder="Email" type="text">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    <input id="password" class="form-control" name="password" placeholder="Senha de acesso" type="password">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    <input id="password" class="form-control" name="password" placeholder="Reintroduza a senha de acesso" type="password">
                </div>

                <div class="form-group">
                    <div class="col-sm-12 controls">
                        <button type="submit" href="#" class="btn btn-primary pull-right"><i class="fa fa-sign-in"></i> Registar</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
