<div class="section">
    <div class="container">
        <h1 class="page-header" ng-bind="vehicle.code"></h1>
        <div class="row">
            <div class="col-md-6 show-grid">
                <div style="height: 305px">
                    <carousel interval="2000">
                        <slide ng-repeat="image in vehicle.images">
                            <img ng-src="../images/{{ image }}" style="margin:auto;">
                        </slide>
                    </carousel>
                    <img ng-hide="vehicle.images" ng-src="../images/empty.jpg" style="margin:auto; height: 305px">
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </div>
</div>
